<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CClockZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E268CF01C34E81F001B3F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E268D041C34E81F001B3F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E268D0F1C34E81F001B3F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
